@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
margin: 50px auto;
}
.container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 400px;
    max-width:1000px;
    background-color: wheat;
    padding:30px 40px;
margin: 0 auto;
border-radius: 12px;
}

#btn-container{
display: flex;
justify-content: space-between;
gap:20px;
margin:20px 0 auto;
}

.container h1{
    margin:0 auto;
}

.btn{
    padding: 8px 10px;
    text-align: center;
    font-weight: 400;
    border:2px burlywood;
    border-radius: 10px;

}

.listItems{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:20px;
}

.container input{
    padding:8px 10px;
    border-radius: 10px;
    border:2px solid blanchedalmond;
    text-align: left;
}

ul li .btn{
    width:50%;
    border: 2px solid black;
    border-radius: 10px;
    padding:8px 10px;
    color:white;
    ba

}